.idea/
venv/
# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/

# Flask stuff:
instance/
.pytest_cache/
.coverage
htmlcov/
.webassets-cache

dist/
build/
*.egg-info/
flaskr.egg-info/

# Database
flaskr/flaskr/flask_study.db